{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-4">
        <form action="{{ url_for('add_word') }}" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.word_for_translate.label }}
                {{ form.word_for_translate }}
            </div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
        <div class="form-group">
            {{ form.submit() }} {{ form.add() }}
        </div>
        </form>
            {% for card in cards %}
            <div class="card">
                <div class="card-body">
                    <div><p>{{ card.original_word }} {{ card.translatted_word }}</p></div>
                    <a class="btn btn-primary" href="{{ url_for('word_edit', word_id=card.id) }}">редактировать</span></a>
                    <a class="btn btn-primary" href="{{ url_for('delete_word', word_id=card.id) }}">удалить</span></a>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="col-8">

    </div>
</div>
{% endblock %}
